
  button {
    
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    margin-left: 2%;
    margin-top: 2%;
  }
  
  .primary-btn {
    background-color: #3498db;
    color: #fff;
  }
  
  .secondary-btn {
    background-color: #2ecc71;
    color: #fff;
  }
  .sub_btn{
    width:10%;
    height:10%;
  }
  .add_sub{
    display: flex;
    align-items: center;
  }
  .add_sub div input{
    margin-left: 10px;
  }
  .add_sub div{
    margin: 0 20px;
  }
  .add_sub button{
    margin-top:15px ;
    font-size: 13px;
    padding: 8px;
    width:48px
  }
  .question-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  

  .question {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .options {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .option {
    margin-bottom: 10px;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  input[type="radio"] {
    margin-right: 5px;
  }

  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button:hover {
    background-color: #0056b3;
  }
  form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  label {
    display: block;
    margin-bottom: 10px;
  }

  input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
  }

  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button:hover {
    background-color: #0056b3;
  }
  

  /* Example CSS */
input[type="radio"]:checked + label {
  background-color: #a88585ce;  /* Change background color when selected */
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333; /* Background color of the navbar */
  padding: 10px 20px; /* Add padding for better spacing */
  color: white; /* Text color */
}

.navbar-header h1 {
  margin: 0; /* Remove default margin */
}

.navbar-logout button {
  padding: 8px 16px; /* Add padding to the button */
  background-color: #f44336; /* Red color for logout button */
  color: white; /* Text color */
  border: none; /* Remove default button border */
  border-radius: 4px; /* Add border radius for button */
  cursor: pointer; /* Add pointer cursor on hover */
}

.navbar-logout button:hover {
  background-color: #d32f2f; /* Darker shade of red on hover */
}



